#cuerpo_historia{
    margin-top: 6%;
    margin-left: 10%;
}
#div_footer{
    text-align: right;
}
#div_header{
    text-align: center;
}

.contenedor_principal{
    justify-items: center;
    text-align: center;
    background-color: antiquewhite;
    width: auto;
    height: auto;
    margin-left: 6%;
    margin-right: 6%;
}

