/*! esta hoja de estilo se usara para las paginas de MUSICA y PELICULAS */
/*! asi que se debera de tener cuidado con los ID de los componentes a usar*/
*{
    padding: 0;
    margin: 0;
}
.cuerpo-musica{
    background-color: black;
}
.cuerpo-peliculas{
    background-color: rgb(34, 33, 33);
}
.container{
    margin-top: 70px;
}
.card{
    margin-bottom: 20px;
}
/*.card:hover{
    box-shadow: 5px 5px 20px rgba(red);
    transform: translateY(-4%);
}*/
.card-img-top{ /*esta parte es para darle un tamaño a la carta*/
    height: 250px;
    width: 300px;
}
.contenedor-musica{
    margin-top: 30px;
}
#contenedor_peliculas{
    margin-top: 15%;
}

/*clase contenedor flex*/
.contenedor{
    display: flex;
    width: 100%;
    margin-top: 3%;
    justify-content: space-around;
}
#card1, #card2, #card3{
    width: 27%;
    margin-top: 1%;
    background-color: rgb(220, 219, 219);
    box-shadow: 5px 7px 10px red;
}
#paginacion_peliculas{
    margin-top: 5%;
}
/**estilo del boton en las cards de PELICULAS*/
#boton_sipnosis{
    margin-left:25%;
    width: 50%;
    background-color: rgb(75, 73, 73);
    color: white;
    border: none;
    font-family: 'Courier New', Courier, monospace;
}
#boton_sipnosis:hover{
    background-color: red;
    color: white;
}
#boton_sipnosis:active {
    background-color: darkred;
    box-shadow: 0 0 0 2px white, 0 0 0 4px darkred;
}
/**estilo del titulo de la pelicula en la card de PELICULAS*/
#titulo_pelicula{
    text-align: center;
    font-size: 1.1rem;
    font-family: 'Times New Roman', Times, serif;
}
/**estilo de la paginacion en la card de PELICULAS*/
#pagina_seleccionada{
    background-color: darkred;
    color: white;
} 
#pg2, #pg3, #pgnext{
    color: darkred;
}
#paginacion_peliculas{
    margin-top: 3%;
}
#paginacion{
    background-color: rgb(220, 219, 219);
    color: black;
}
#navbar_inicio_texto{
    color: white;
}

/*-------------estilo de la pagina de MUSICA-------------*/
/*estilo de las etiquetas h5*/
h5{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
#parrafo-musica{
    text-align: left;
    font-size: 1.1rem;
    font-family: 'Times New Roman', Times, serif;
}
#boton_musica{
    text-decoration: none;
    color: white;
    border-radius: 111px;
    text-align: center;
    padding: 10px;
    background-color: rgba(20, 164, 20, 0.811);
}
#boton_musica:hover{
    background-color: rgba(24, 114, 10, 0.947);
}
#boton_musica:visited{
    background-color: darkgreen;
}
#card-musica{
    text-align: center;
}